<div class="container">
    <h1>
      Angular 100 Days of Code
    </h1>
    <h2 class="mb-4">
      <a href="#"
         target="_blank">
        Day 31: Angular Router Guards & Resolvers
      </a>
    </h2>
  
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/">Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/admin">Admin
        </a>
      </li>
    </ul>
    <div>
      <p>Is Admin: {{ userService.currentUser.isAdmin }}</p>
      <button mat-raised-button color="primary" (click)="toggleRole()">Toggle role</button>
    </div>
    <router-outlet></router-outlet>
  </div>